  {% extends "base.html" %}

  {% block menu_material %}

   <ul id="list-nav">
   <li><a href="/">Home主页</a></li>
   <li><a href="/gallery">Gallery影集</a></li>
   <li><a href="/video">Video视频</a></li>
   <li><a href="/forum">Forum论坛</a></li>
   <li><a href="/contact">Contact留言</a></li>
   <li><a href="/login">Login登录</a></li> 
 </ul>

  {% endblock %}

  {% block content_material %}

 <div id="left">
  <p>这里给我留言</p> 
 </div> 
 <div id="right">
  <pre>
            ///\\___
            (@ @)
 +----oOO----(_)-----------+
 |    This is a website    |
 |          for            |
 |       Ashley Wu         |
 +-----------------oOO-----+
           |__|__|  
            || ||
           ooO Ooo
  </pre>
 </div>

 {% endblock %}
