  {% extends "base.html" %}

  {% block content_material %}

 <div id="left"> 
   <p>你的浏览器分辨率是：Your screen resolution is:</p>
   <script type="text/javascript">document.write(screen.width + " &times; " + screen.height);</script>
   <noscript>Javascript没启用 Javascript disabled.<br>不能得到分辨率Cannot detect screen resolution</noscript>
 </div> 
 <div id="right">
  <pre>
            ///\\___
            (@ @)
 +----oOO----(_)-----------+
 |    This is a website    |
 |          for            |
 |       Ashley Wu         |
 +-----------------oOO-----+
           |__|__|  
            || ||
           ooO Ooo
  </pre>
 </div>

 {% endblock %}
