  {% extends "base.html" %}

  {% block content_material %}

 <div id="left">

  {% if form.errors %}
    <p class="error">Sorry, that's not a valid username or password</p>
    <p class="error">对不起，用户名或者密码不正确</p>
  {% endif %}

  <form action="" method="post">
    {% csrf_token %}
    <br>
    username用户名:
    <input type="text" name="username" value="" id="username">
    <br>
    password口令:
    <input type="password" name="password" value="" id="password">
    <br>
    <input type="submit" value="login提交" />
    {% if next %}
     <input type="hidden" name="next" value="{{ next|escape }}" />
    {% else %}
     <input type="hidden" name="next" value="/profile" />
    {% endif %}
  </form>

 </div> 
 <div id="right">
  <pre>
            ///\\___
            (@ @)
 +----oOO----(_)-----------+
 |    This is a website    |
 |          for            |
 |       Ashley Wu         |
 +-----------------oOO-----+
           |__|__|  
            || ||
           ooO Ooo
  </pre>
 </div>

 {% endblock %}
