  {% extends "base.html" %}

  {% block content_material %}

 <div id="left">

   <p>You have logged in您已成功登陆</p>
   <p>username用户名: {{ user.username }}</p>
   <p>Thank you, {{ user.first_name }} {{ user.last_name }}  谢谢！</p>
 
 </div> 
 <div id="right">
  <pre>
            ///\\___
            (@ @)
 +----oOO----(_)-----------+
 |    This is a website    |
 |          for            |
 |       Ashley Wu         |
 +-----------------oOO-----+
           |__|__|  
            || ||
           ooO Ooo
  </pre>
 </div>

 {% endblock %}
